.ReturnToIndexContainer {
    padding-top: 10px;
    padding-left: 20px;
}

.ReturnToIndexAnchor {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.ReturnToIndexAnchor:hover {
    opacity: 0.7;
}

.ReturnToIndexAnchor:active {
    opacity: 0.5;
}

.FormContent {
    display: flex;
    justify-content: center;
}

.FormContainer {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.SubmitButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.SubmitButtonContainer button {
    border: 1px solid black;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;

}

.SubmitButtonContainer button:hover {
    opacity: 0.7;
}

.SubmitButtonContainer button:active {
    opacity: 0.5;
}

form {
    font-size: 20px;
}

.FormTitle {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

input.FormControl {
    font-size: 15px;
}

div:has(.FormControl) {
    margin-top: 10px;
}


.FormError {
    color: red;
    padding: 5px;
    font-size: 15px;
}

form button[type="submit"] {

    font-size: 15px;
}

.FormContainer.SearchFormContainer form {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;

}

.FormContainer.SearchFormContainer form {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.FormContainer.SearchFormContainer .FormTitle {
    text-align: left;
}